.navbar {
  background: #e35d5b;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: white;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .brand {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.nav-links li {
  list-style: none;
  margin: 0 1rem;
}
